*{
    margin: 0px;
    padding: 0px;
    font-family: 'Quicksand', sans-serif;
    font-kerning: none;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: solid rgb(211, 211, 211) 1px;
    border-top: solid rgb(70, 70, 70) 2px;
}

.pesquisa{
    font-size: 20px;
}

.pesquisa i{
  padding: 25px 25px;
  border-left: solid rgb(211, 211, 211) 1px;
  color: black;
  opacity: 0.3;
  transition: 0.3s; 
}

.pesquisa i:hover{
    opacity: 1;
  }

.menu{
    display: flex;

    align-items: center;
    letter-spacing: 2px;
    font-size: 11px;
}

.menu p{
    font-size: 13px;
}

h2{
    font-size: 40px;
    font-family: 'Poppins';
    letter-spacing: 4px;
}

h3{
    letter-spacing: 2px;
    font-weight: normal;
    padding-top: 20px;
    font-size: 14px;
}

h3 span{
    border-bottom: 1px dotted;
}

.menu a {
    padding: 25px 25px;
    text-decoration: none;
    text-align: center;
    color: black;
    opacity: 0.6;
    transition: 0.3s;
}

.menu a:hover{
    opacity: 1;
}

.menu p:nth-child(n+2){
    color: rgb(211, 211, 211);
    padding: 0px;
}
  
.menu p{
    padding: 20px 20px;
}

.menu p:first-child{
    padding-left: 50px;
    padding-right: 50px;
    border-right: solid rgb(211, 211, 211) 1px;
    font-weight: 700;
}

.background{
    background-color: #f1f1f1;
    padding-bottom: 130px;
}

.row {  
display: flex;
width: 80%;
margin: 0 auto;
padding-top: 50px;
}

.side {
flex: 20%;
background-color: #f1f1f1;
padding: 20px;
margin-right: 30px;
}

.caixas{
    border-top: solid rgb(211, 211, 211) 2px;
    border-bottom: solid rgb(211, 211, 211) 2px;
    margin-top: 50px;
    padding-top: 20px;
    padding-bottom: 50px;
}

.image-cropper {
    width: 50px;
    height: 50px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
  }
  
  img {
    display: inline;
    margin: 0 auto;
    height: 100%;
    width: auto;
  }

.box{
    background-color: #fff;
    border: solid rgb(211, 211, 211) 1px;
    margin-top: 30px;
}

.info{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    padding-left: 20px;
    align-items: center;
}


.outros-section img{
    width: 80px;
    padding: 30px;
}

.outros-section .texto{
    padding: 10px;
}

.outros-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid rgb(211, 211, 211) 1px;
}

.outros-section p:first-child, .box p:first-child{
    font-weight: 700;
    font-size: 13px;
}

.outros-section p:last-child, .box p:last-child{
    font-size: 10px;
    padding-top: 5px;
}

.outros-section p, .box p{
    letter-spacing: 2px;
}

.sobre{
    border-bottom: solid rgb(211, 211, 211) 1px;
    border-top: solid rgb(211, 211, 211) 1px;
    padding-bottom: 40px;
}

.sobre p{
    text-align: justify;
    font-size: 15px;
    margin-bottom: 30px;
}

.sobre p:first-child{
    font-weight: 700;
    margin-top: 30px;
}

.sobre a{
    text-decoration: none;
    color: black;
    letter-spacing: 1px;
    font-weight: 700;
    font-size: 12px;
    margin-left: 40px;
}

.social-media{
    margin-top: 30px;
}

.main {
    flex: 80%;
    background-color: #f1f1f1;
    padding: 20px;
}

.box2{
    background-color: white;
    border: solid rgb(211, 211, 211) 1px;;
    display: flex;
    flex-direction: column;
    margin-bottom: 70px;
}

.box2 h2{
    font-size: 30px;
}

.box2 .cabecalho{
    border-bottom: solid rgb(211, 211, 211) 1px;

    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.cabecalho .titulo{
    flex: 60%;
    padding: 80px 50px 80px 50px;
    border-right: solid rgb(211, 211, 211) 1px;
}

.cabecalho p{
    letter-spacing: 2px;
    font-size: 15px;
    margin-top: 20px;
}

.conteudo p{
    margin-top: 30px;
    font-size: 18px;
    font-weight: 600;
    text-align: justify;
    color: rgb(85, 85, 85);
}

.box2 .rodape{
    display: flex;
    justify-content: space-between;
    padding: 20px 30px 80px 100px;
}

.box2 .rodape a{
    text-decoration: none;
    font-weight: bolder;
    color: #000;
    font-size: 14px;
    letter-spacing: 2px;
}

.box2 .rodape p{
    margin: 0px 20px 0px 10px ;
}

.box2 .rodape p:first-child{
    margin: 0px 20px 0px 00px ;
}

.box2-infos{
    display: flex;
    align-items: center;
    color: rgb(128, 128, 128);
}

.box2-infos p:first-child{
    border-bottom: 1px dotted;
    padding-bottom: 0px;
}

.post-info{
    flex: 20%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-right: 50px;
}

.data-post{
    font-weight: bold;
 }

.box2 .cabecalho .user{
    display: flex;
    margin-top: 20px;
    align-items: center;
}

.box2 .cabecalho .user p{
    margin-right: 10px;
    border-bottom: 1px dotted;
}

.box2 .conteudo{
    padding: 40px;
}

.box2 .conteudo img{
    width: 100%;

}

.paginas{
    width: 17%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.paginas a, i{
    margin-right: 10px;
    margin-left: 10px;
    font-weight: 700;
    opacity: 0.3;
    transition: 0.3s;
    text-decoration: none;
    color: #000;
}

.paginas a:hover{
    opacity: 1;
}

.paginas .pag-anterior{
    display: flex;
    align-items: baseline;
}

.paginas .prox-pagina{
    display: flex;
    align-items: baseline;
}

@media screen and (max-width: 700px) {
    .row, .menu {   
      flex-direction: column;
      width: 100%;
    }
    .side{
        margin-right: 0px;
        padding: 0px;
        margin-bottom: 30px;
        width: 100%;
    }
    .menu p{
        text-align: center;
        border-bottom: solid rgb(211, 211, 211) 3px;
    }

    .menu a{
        border-bottom: solid rgb(211, 211, 211) 1px;
    }

    .menu p:nth-child(n+2){
        display: none;
    }

    .menu p:first-child{
        margin-bottom: 0px;
        border-right: none;
    }

    .info div:first-child{
        flex: 20%;
    }
    .box img{
        width: 100%;
    }
    .box2 .cabecalho{
        flex-direction: column;
    }

    .row .side .logo{
        padding: 30px;
    }

    .main{
        width: 100%;
        padding: 0px;
    }
    .main .rodape{
        padding: 10px 30px 80px 10px;
    }

    .box2 .rodape p{
        margin: 0px 5px 0px 5px ;
    }
    .box2 .rodape p:first-child{
        margin: 0px 10px 0px 00px ;
    }

    .post-info{
        margin-bottom: 30px;
    }
    .cabecalho .titulo{
        padding-bottom: 20px;
    }
    .paginas{
        width: 70%;
    }
    
  }